body {
	padding-top: 50px;
}

.clearAll {
	clear: both;
}

img.treatment {
	width: 100%;
/*	border: 1px solid rgba(0,0,0,.3);*/
}

.starter-template {
	padding: 40px 15px;
}

pre {
	font-size: 11px;
}

.source {
	font-size: 12px;
	font-style: italic;
}

.note {
	font-size: 12px;
	font-style: italic;
}

.submenu {
	margin-top: 20px;
	border-left: 1px solid rgba(0,0,0,.25)
}