body {
	padding-top: 50px;
}

img.treatment {
	width: 100%;
/*	border: 1px solid rgba(0,0,0,.3);*/
}

.starter-template {
	padding: 40px 15px;
}

pre {
	font-size: 11px;
}

.source {
	font-size: 12px;
	font-style: italic;
}

.note {
	font-size: 12px;
	font-style: italic;
}

.submenu {
	margin-top: 20px;
	border-left: 1px solid rgba(0,0,0,.25)
}

@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'forque';
	src: url('forque/Forque-webfont.eot');
	src: local('☺'), url('forque/Forque-webfont.woff') format('woff'), url('forque/Forque-webfont.ttf') format('truetype'), url('forque/Forque-webfont.svg#webfontmmrUNGud') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'JournalRegular';
	src: url('journal/journal-webfont.eot');
	src: local('☺'), url('journal/journal-webfont.woff') format('woff'), url('journal/journal-webfont.ttf') format('truetype'), url('journal/journal-webfont.svg#webfontxNXoptyW') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SearsTowerRegular';
	src: url('sears-tower/Sears_Tower-webfont.eot');
	src: local('☺'), url('sears-tower/Sears_Tower-webfont.woff') format('woff'), url('sears-tower/Sears_Tower-webfont.ttf') format('truetype'), url('sears-tower/Sears_Tower-webfont.svg#webfontlFkJUMK3') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('chunkfive/Chunkfive-webfont.eot?') format('eot'),
         url('chunkfive/Chunkfive-webfont.woff') format('woff'),
         url('chunkfive/Chunkfive-webfont.ttf') format('truetype'),
         url('chunkfive/Chunkfive-webfont.svg#webfont90E2uSjN') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('bebas/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}