@black: #000;
@darkgray: #464646;
@middlegray: #999;
@lightgray: #dedede;
@white: #fff;

@branding: #003264;

/*-----------------------------------------------------------------------------------*\
    #Overwrites
\*-----------------------------------------------------------------------------------*/
.module {
    background: rgba(0,50,100,.3);
}

.container {
    background: @white;
}

.navbar {
    margin-bottom: 0;
    box-shadow: 1px 0 2px @black;
    border-radius: 0;
}

/*-----------------------------------------------------------------------------------*\
    #Button groups
\*-----------------------------------------------------------------------------------*/
.btn-group {
    margin-bottom: 20px;
}

.btn {
    border-radius: 0;
    border-color: @lightgray;
    background-image: linear-gradient(#5c5c5c, @darkgray);

    &:hover {
        background-image: none;
        background: @darkgray;

        span,i {
            color: @white;
        }
    }

    span {
        color: @middlegray;
        transition: color .2s ease;
    }

    i {
        color: @middlegray;
        font-size: 22px;
        text-shadow: 2px 2px 1px @black;
        transition: color .2s ease;
    }
}

/* tiles */
.tile {
    margin-bottom: 20px;

    .art {
        img {
            width: 100%;
        }
    }

    .cap {
        padding: 5px 10px;
        font-size: 18px;
    }

    .info {
        padding: 10px;
        border-top: 1px solid #ccc;
    }
}

/*-----------------------------------------------------------------------------------*\
    #Line Chart Animation
\*-----------------------------------------------------------------------------------*/


.axis path,
.axis line {
    fill: none;
    stroke: @black;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: @middlegray;
    stroke-width: 2.5px;
}

.line_chart {
    height: 350px;

    &.display {
        position: relative;
        padding: 10px 20px;
        background: #222;
        color: @white;

        .axis path,
        .axis line {
            stroke: @white;
        }

        .line {
            stroke: @middlegray;
        }

        .tick {
            fill: @white;
        }

        #chart {
            position: absolute;
            top: 0;
            background: rgba(0,0,0,.6);
            font: 10px sans-serif;
        }

        img {
            width: 100%;
        }
    }
}

.tooltip {
    position: absolute;
    padding: 8px;
    background: rgba(255, 2555, 255, 0.75);
    color: @black;
    font-size: 14px;
    line-height: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    font: 12px sans-serif;
}

.state_view,
.district_view,
.choropleth {
    path {
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    .states {
      fill: none;
    }
}

.state_name {
    text-transform: uppercase;
}

.pie {
    .arc path {
        stroke: @black;
    }
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 {
    fill: rgb(8,48,107);
}

/*-----------------------------------------------------------------------------------*\
    #Interactive Click to Zoom
\*-----------------------------------------------------------------------------------*/
.us_zoom {
    .background {
        fill: none;
        pointer-events: all;
    }

    #states {
        fill: #aaa;
    }

    #states .republican.active {
        fill: rgba(233,29,14,.7);
    }

    #states .democratic.active {
        fill: rgba(0,32,102,.7);
    }

    .republican {
        fill: rgba(233,29,14,.5);
    }

    .democratic {
        fill: rgba(0,32,102,.5);
    }

    #state-borders {
        fill: none;
        stroke: #fff;
        stroke-width: 1.5px;
        stroke-linejoin: round;
        stroke-linecap: round;
        pointer-events: none;
    }

    .state_name {
        color: rgba(255,255,255,1);
    }

    .tooltip {
        position: absolute;
        width: 250px;
        padding: 8px;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 14px;
        line-height: auto;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        pointer-events: none;
    }

    .tooltip h5 {
        border-bottom: 1px solid rgba(255,255,255,.75);
    }
}

/*-----------------------------------------------------------------------------------*\
    #Buttons
\*-----------------------------------------------------------------------------------*/
.btn {
    border-radius: 0;
    border-color: @lightgray;
    background-image: linear-gradient(@middlegray, @darkgray);
    color: @lightgray;
    transition: color .2s ease;

    span, i {
        color: @lightgray;
        text-shadow: none;
    }

    &:hover {
        background-image: none;
        background: @darkgray;
        color: @white;

        span, i {
            color: @white;
        }
    }
}

/*-----------------------------------------------------------------------------------*\
    #Backbone
\*-----------------------------------------------------------------------------------*/
#artists {
    body {
        padding-top: 70px;
    }

    img {
        width: 100%;
    }
}

