@black: #000;
@grey1: #333;
@grey2: #666;
@grey3: #999;
@grey4: #ccc;
@white: #fff;

@branding: #003264;

/*-----------------------------------------------------------------------------------*\
    #Overwrites
\*-----------------------------------------------------------------------------------*/
.module {
    background: rgba(0,50,100,.3);
}

.container {
    background: @white;
}

.navbar {
    margin-bottom: 0;
    box-shadow: 1px 0 2px #000;
    border-radius: 0;
}
