.result {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #444;
	background-color: rgba(0,0,0,.15);
}

.artist {
	font: bold 13px sans-serif;
	text-transform: uppercase;
}

.song_title {
	font: 12px sans-serif;
	margin-bottom: 10px;
	margin-top: 1px;
}

.genre {
	font: 12px sans-serif;
	font-style: italic
}

.image img {
	float: right;
	width: auto;
	height: auto;
	border: 1px solid #444;
	box-shadow: 2px 2px 2px rgba(0,0,0,.25)
}

.clear {
	clear: both;
}