.arc path, .arc text {
	cursor: pointer;
	stroke: #000
}

.tooltip {
	position: absolute;
	padding: 8px;
	font: 10px sans-serif;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	text-shadow: 0 -1px 0px black;
	padding: 8px 10px;
	font-size: 12px;
	line-height: 12px;
	white-space: nowrap;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	pointer-events: none;
}

.tooltip span {
	display: block
}